.container {
    display: flex;
    justify-content: center;
    width: 20rem;
    max-width: 95%;
    margin: 0 auto;
}

.container img {
    width: 20px;
    height: 5px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}


