.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

.container img {
    width: 70px;
    height: 40px;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}


