
.logo-container {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
}

.logo-container img {
  margin-top: 15px;
  width: 250px;
  height: 55px;
  }

.logo-container h1 {
  font-size: 14px;
}

.logo-container p {
  font-size: 14px;  
}